*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/navEditor.xml
/.idea/codeStyles/Project.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
collapsing-calendar/build
sublimepickerlibrary/build
/.idea/
barcodescanner/build
signature-pad/build
signature-pad/.idea
sublimepickerlibrary/.idea
local.properties